.home-container{
  margin-top: 5%;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap:10px;
}
.tshart-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
}
/* toast{
  background-color: rgb(21, 117, 79);
  color: aliceblue;
} */